mixin freshfree-s_picture(mediaSet)
  -
    const VIEWPORTS = { L: '(min-width: 1400px)', M: '(min-width: 768px)' };
    const { class: classnames, pathBase, ext, alt, role } = attributes;
  picture.freshfree-s_picture(class=classnames, role=role)
    each item, index in mediaSet
      if index !== mediaSet.length - 1
        - const [mq, width] = item;
        source(
          media=VIEWPORTS[mq],
          srcset=`img/${pathBase}@${width}.${ext}`,
        )
      else
        img.freshfree-s_picture__image(
          src=`img/${pathBase}@${item}.${ext}`,
          alt=alt,
        )
