.freshfree-intro(class=getModifiers('freshfree-page__nest', ['intro']))
  -
    const INTRO_PARAGRAPHS = [
      'Разработка интернет-магазина высококачественных продуктов питания, пищевых добавоки косметики, который будет вызывать у пользователей правильные ассоциации - натуральные продукты для здорового образа жизни.',
      'Основная задача - показать пользователям доступным языком все выгоды от приобретения инновационных продуктовпитания.',
    ];
  .freshfree-s_container.freshfree-intro__container
    .freshfree-logo(class=getModifiers('freshfree-intro__nest', ['logo']))
      img.freshfree-logo__image(
        src='img/freshfree-logo.svg',
        alt=SITE_TITLE,
        width='288',
        height='48',
      )
      h1.freshfree-s_visually-hidden.freshfree-logo__wrapper= SITE_TITLE
    .freshfree-s_textblock(class=getModifiers('freshfree-intro__nest', ['textblock']))
      h2(class=[
        'freshfree-s_headline',
        'freshfree-s_textblock__headline',
        'freshfree-intro__headline',
      ]) Задача
      each paragraph, index in INTRO_PARAGRAPHS
        - const number = index + 1;
        p.freshfree-s_paragraph(class=[
          getLastModifier('freshfree-s_textblock__paragraph', INTRO_PARAGRAPHS, number),
          getModifiers('freshfree-s_textblock__paragraph', [number]),
        ])= paragraph
    +freshfree-s_picture()(
      class=getModifiers('freshfree-intro__nest', ['picture']),
      src='img/freshfree-intro__picture.png',
      alt='Чашка с чаем',
    )
