.freshfree-design(class=getModifiers('freshfree-page__nest', ['design']))
  mixin freshfree-design__picture(modifier)
    - const ext = (modifier === 3 ? 'png' : 'jpg');
    +freshfree-s_picture()(
      class=getModifiers('freshfree-design__picture', [modifier]),
      src=`img/freshfree-design__image--${modifier}.${ext}`,
      alt=`Пример дизайна страницы №${modifier}`,
    )
  .freshfree-s_container.freshfree-design__container
    div(class=getModifiers('freshfree-design__row', ['top']))
      div(class=[
        getModifiers('freshfree-s_textblock', ['white']),
        getModifiers('freshfree-design__textblock', ['full']),
      ])
        h2.freshfree-s_headline.freshfree-s_textblock__headline.freshfree-design__headline Дизайн
        p.freshfree-s_subtitle.freshfree-s_textblock__subtitle(
          class=getModifiers('freshfree-design__subtitle', ['narrow'])
        ) Разработка дизайна главной страницы
        p.freshfree-s_paragraph(class=[
          getModifiers('freshfree-s_textblock__paragraph', ['last']),
          'freshfree-design__paragraph',
        ]) Аудит и тестирование аналогичных интернет-магазинов показали, что для пользователей важно наличие на сайте ярких и насыщенных фотографий продукции.
      each number in [1, 2]
        +freshfree-design__picture(number)
      div(class=[
        'freshfree-s_textblock',
        getModifiers('freshfree-design__textblock', ['subtitled']),
      ])
        h3(class=[
          getModifiers('freshfree-s_subtitle', ['large']),'freshfree-s_textblock__subtitle',
          'freshfree-design__subtitle'
        ]) Каталог и карточка товара
        p.freshfree-s_paragraph(class=[
          getModifiers('freshfree-s_textblock__paragraph', ['last']),
          getModifiers('freshfree-design__paragraph', ['low']),
        ]) Для каталога и карточки товара мы сделали удобную систему фильтрации по хэштегам.
      include ../_features/_features
    div(class=getModifiers('freshfree-design__row', ['bottom']))
      +freshfree-design__picture(3)
      .freshfree-design__inner-wrapper
        +freshfree-design__picture(4)
      div(class=[
        'freshfree-s_textblock',
        getModifiers('freshfree-design__textblock', ['headless']),
      ])
        p.freshfree-s_paragraph(class=[
          getModifiers('freshfree-s_textblock__paragraph', ['last']),
          'freshfree-design__paragraph',
        ]) В карточках товара указали полезные свойства продуктов, их состав, а также действующие акции, позволяющие приобрести продукты дешевле в зависимости от способа оплаты и объема покупки.
